.panel-footer {
    text-align:center;
    position: relative;
    left: 100px;
    height: 200px;
    width: 500px;
    /* background-color: green; */

    .sub_div {
        position: absolute;
        bottom: 0px;
    }
}